adf/pipeline/PL_Incremental_CDC_Single_Table.json
{
    "name": "PL_Incremental_CDC_Single_Table",
    "properties": {
        "parameters": {
            "pipeline_run_id": { "type": "String" },
            "table_id": { "type": "Int" },
            "source_system": { "type": "String" },
            "schema_name": { "type": "String" },
            "table_name": { "type": "String" },
            "primary_key_columns": { "type": "String" },
            "last_sync_version": { "type": "Int" }
        },
        "activities": [
            {
                "name": "Copy_CDCChanges_ToBronze",
                "type": "Copy",
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderStoredProcedureName": "[control].[sp_GetCDCChanges]",
                        "storedProcedureParameters": {
                            "SchemaName": { "value": "@pipeline().parameters.schema_name", "type": "String" },
                            "TableName": { "value": "@pipeline().parameters.table_name", "type": "String" },
                            "PrimaryKeyColumns": { "value": "@pipeline().parameters.primary_key_columns", "type": "String" },
                            "LastSyncVersion": { "value": "@pipeline().parameters.last_sync_version", "type": "Int64" }
                        }
                    },
                    "sink": {
                        "type": "ParquetSink"
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_AzureSQL_Source",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaName": "@pipeline().parameters.schema_name",
                            "tableName": "@pipeline().parameters.table_name"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Parquet_Bronze",
                        "type": "DatasetReference",
                        "parameters": {
                            "source_system": "@pipeline().parameters.source_system",
                            "schema_name": "@pipeline().parameters.schema_name",
                            "table_name": "@pipeline().parameters.table_name",
                            "load_type": "incremental",
                            "pipeline_run_id": "@pipeline().parameters.pipeline_run_id"
                        }
                    }
                ]
            },
            {
                "name": "Check_If_Rows_Copied",
                "type": "IfCondition",
                "dependsOn": [
                    { "activity": "Copy_CDCChanges_ToBronze", "dependencyConditions": [ "Succeeded" ] }
                ],
                "typeProperties": {
                    "expression": "@greater(activity('Copy_CDCChanges_ToBronze').output.rowsCopied, 0)",
                    "ifTrueActivities": [
                        {
                            "name": "Notebook_IncrementalCDC",
                            "type": "DatabricksNotebook",
                            "linkedServiceName": {
                                "referenceName": "LS_AzureDatabricks",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "notebookPath": "/Shared/bronze/Incremental_CDC_Dynamic",
                                "baseParameters": {
                                    "pipeline_run_id": "@pipeline().parameters.pipeline_run_id",
                                    "table_id": "@pipeline().parameters.table_id",
                                    "schema_name": "@pipeline().parameters.schema_name",
                                    "table_name": "@pipeline().parameters.table_name",
                                    "primary_key_columns": "@pipeline().parameters.primary_key_columns",
                                    "source_system": "@pipeline().parameters.source_system",
                                    "storage_account": "adfdatabricks456",
                                    "sql_server": "adf-databricks.database.windows.net",
                                    "sql_database": "ADF-Databricks",
                                    "sql_username": "{{PLACEHOLDER_SQL_USERNAME}}",
                                    "sql_password": "{{PLACEHOLDER_SQL_PASSWORD}}"
                                }
                            }
                        }
                    ],
                    "ifFalseActivities": [
                        {
                            "name": "SP_UpdateMetadata_NoChanges",
                            "type": "SqlServerStoredProcedure",
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Control",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "storedProcedureName": "[control].[sp_UpdateTableMetadata]",
                                "storedProcedureParameters": {
                                    "TableId": { "value": "@pipeline().parameters.table_id", "type": "Int32" },
                                    "Status": { "value": "SUCCESS", "type": "String" },
                                    "PipelineRunId": { "value": "@pipeline().parameters.pipeline_run_id", "type": "String" },
                                    "RecordsLoaded": { "value": "0", "type": "Int32" },
                                    "SyncVersion": { "value": "@pipeline().parameters.last_sync_version", "type": "Int64" },
                                    "MarkInitialLoadComplete": { "value": "0", "type": "Boolean" }
                                }
                            }
                        }
                    ]
                }
            }
        ]
    }
}
