adf/pipeline/PL_Initial_Load_Single_Table.json
{
	"name": "PL_Initial_Load_Single_Table",
	"properties": {
		"activities": [
			{
				"name": "Copy_FullTable_ToBronze",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *, CHANGE_TRACKING_CURRENT_VERSION() as _current_sync_version FROM @{pipeline().parameters.schema_name}.@{pipeline().parameters.table_name}",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQL_Source",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "@pipeline().parameters.schema_name",
							"tableName": "@pipeline().parameters.table_name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Parquet_Bronze",
						"type": "DatasetReference",
						"parameters": {
							"source_system": "@pipeline().parameters.source_system",
							"schema_name": "@pipeline().parameters.schema_name",
							"table_name": "@pipeline().parameters.table_name",
							"load_type": "initial",
							"pipeline_run_id": "@pipeline().parameters.pipeline_run_id"
						}
					}
				]
			},
			{
				"name": "Notebook_InitialLoad",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy_FullTable_ToBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/imp-v1/databricks/notebooks/bronze/Initial_Load_Dynamic",
					"baseParameters": {
						"pipeline_run_id": {
							"value": "@pipeline().parameters.pipeline_run_id",
							"type": "Expression"
						},
						"table_id": {
							"value": "@string(pipeline().parameters.table_id)",
							"type": "Expression"
						},
						"schema_name": {
							"value": "@pipeline().parameters.schema_name",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						},
						"primary_key_columns": {
							"value": "@pipeline().parameters.primary_key_columns",
							"type": "Expression"
						},
						"source_system": {
							"value": "@pipeline().parameters.source_system",
							"type": "Expression"
						},
						"storage_account": "adfdatabricks456",
						"sql_server": "adf-databricks.database.windows.net",
						"sql_database": "ADF-Databricks",
						"sql_username": "sqladmin",
						"sql_password": "sqluser@1234"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_UpdateMetadata_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook_InitialLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_UpdateTableMetadata]",
					"storedProcedureParameters": {
						"TableId": {
							"value": {
								"value": "@pipeline().parameters.table_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "SUCCESS",
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().parameters.pipeline_run_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsLoaded": {
							"value": {
								"value": "@activity('Copy_FullTable_ToBronze').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SyncVersion": {
							"value": "0",
							"type": "Int64"
						},
						"MarkInitialLoadComplete": {
							"value": "1",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Control",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_UpdateMetadata_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Copy_FullTable_ToBronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_UpdateTableMetadata]",
					"storedProcedureParameters": {
						"TableId": {
							"value": {
								"value": "@pipeline().parameters.table_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "FAILED",
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().parameters.pipeline_run_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsLoaded": {
							"value": "0",
							"type": "Int32"
						},
						"SyncVersion": {
							"value": "0",
							"type": "Int64"
						},
						"MarkInitialLoadComplete": {
							"value": "0",
							"type": "Boolean"
						},
						"ErrorMessage": {
							"value": "Pipeline Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Control",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pipeline_run_id": {
				"type": "String"
			},
			"table_id": {
				"type": "Int"
			},
			"source_system": {
				"type": "String"
			},
			"schema_name": {
				"type": "String"
			},
			"table_name": {
				"type": "String"
			},
			"primary_key_columns": {
				"type": "String"
			}
		},
		"annotations": []
	}
}