adf/pipeline/PL_Master_Orchestrator.json
{
    "name": "PL_Master_Orchestrator",
    "properties": {
        "parameters": {
            "pipeline_run_id": {
                "type": "String",
                "defaultValue": "@pipeline().RunId"
            }
        },
        "activities": [
            {
                "name": "Lookup_ActiveTables",
                "type": "Lookup",
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT t.*, s.source_system_name FROM control.table_metadata t JOIN control.source_systems s ON t.source_system_id = s.source_system_id WHERE t.is_active = 1"
                    },
                    "dataset": {
                        "referenceName": "DS_ControlDB",
                        "type": "DatasetReference",
                        "parameters": {
                            "tableName": "table_metadata"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach_Table",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_ActiveTables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": "@activity('Lookup_ActiveTables').output.value",
                    "activities": [
                        {
                            "name": "Check_Load_Type",
                            "type": "IfCondition",
                            "typeProperties": {
                                "expression": "@equals(item().initial_load_completed, 0)",
                                "ifTrueActivities": [
                                    {
                                        "name": "Run_Initial_Load",
                                        "type": "ExecutePipeline",
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "PL_Initial_Load_Single_Table",
                                                "type": "PipelineReference"
                                            },
                                            "parameters": {
                                                "pipeline_run_id": "@pipeline().parameters.pipeline_run_id",
                                                "table_id": "@item().table_id",
                                                "source_system": "@item().source_system_name",
                                                "schema_name": "@item().schema_name",
                                                "table_name": "@item().table_name",
                                                "primary_key_columns": "@item().primary_key_columns"
                                            }
                                        }
                                    }
                                ],
                                "ifFalseActivities": [
                                    {
                                        "name": "Run_Incremental_CDC",
                                        "type": "ExecutePipeline",
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "PL_Incremental_CDC_Single_Table",
                                                "type": "PipelineReference"
                                            },
                                            "parameters": {
                                                "pipeline_run_id": "@pipeline().parameters.pipeline_run_id",
                                                "table_id": "@item().table_id",
                                                "source_system": "@item().source_system_name",
                                                "schema_name": "@item().schema_name",
                                                "table_name": "@item().table_name",
                                                "primary_key_columns": "@item().primary_key_columns",
                                                "last_sync_version": "@item().last_sync_version"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        ]
    }
}
